<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
</head>
<body>

    <h3>Cadastro do Contato</h3>
    <form action = "{{ url_for('cadastrar_contatos0') }}" method = "POST">
        <label for="">Id da Pessoa: </label>
        <input type="text" name="id_pessoas" id="id_pessoas"><br><br>
        <label for="">Telefone: </label>
        <input type="text" name="id_telefone" id="id_telefone"><br><br>
        <label for="">E-mail: </label>
        <input type="text" name="id_email" id="id_email"><br><br>
        <input type="submit" name="retorno" value="Enviar">
    </form><br>

    <script>
        var botao = document.createElement('button');
        botao.innerHTML = '<a href="http://localhost:5000/">Menu</a>';
        document.body.appendChild(botao);
    </script>

</body>
</html>