{% extends 'layout.html' %}

{% block content %}
    <h3>Cadastro do Contato</h3>
    <form action = "{{ url_for('contatos.cadastrar_contatos0') }}" method = "POST">
        <label for="">Id da Pessoa: </label>
        <input type="text" name="id_pessoas" id="id_pessoas"><br><br>
        <label for="">Telefone: </label>
        <input type="text" name="id_telefone" id="id_telefone"><br><br>
        <label for="">E-mail: </label>
        <input type="text" name="id_email" id="id_email"><br><br>
        <input type="submit" name="retorno" value="Enviar">
    </form><br>

{% endblock %}
