<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar</title>
</head>
<body>

    <h3>Deletar Contato de Pessoa Cadastrada</h3>
    <form action = "{{ url_for('deletar_contatos0') }}" method = "POST">
        <label for="">CPF: </label>
        <input type="text" name="id_cpf_deletar" id="id_cpf_deletar"><br><br>
        <input type="submit" name="retorno" value="Deletar">
    </form><br>

    <script>
        var botao = document.createElement('button');
        botao.innerHTML = '<a href="http://localhost:5000/">Menu</a>';
        document.body.appendChild(botao);
    </script>

</body>
</html>