<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CP</title>
</head>
<body>

    <h1>Cadastrar Pessoas</h1>

    <h2>Seção Pessoas</h2>
    <a href="http://localhost:5000/pessoas">Pessoas: cadastrar</a><br><br>
    <a href="http://localhost:5000/pessoas-atualizar">Pessoas: atualizar</a><br><br>
    <a href="http://localhost:5000/pessoas-deletar">Pessoas: deletar</a><br><br>
    <a href="http://localhost:5000/pessoas-cadastradas">Pessoas: consultar</a><br>
    <h2>Seção Contatos</h2>
    <a href="http://localhost:5000/contatos">Contatos: cadastrar</a><br><br>
    <a href="">Atualizar Cadastro
        <ul>
            <a href="http://localhost:5000/contatos-atualizar-email">Atualizar E-mail</a><br><br>
            <a href="http://localhost:5000/contatos-atualizar-telefone">Atualizar Telefone</a><br>
        </ul>
    </a>
    <a href="http://localhost:5000/contatos-deletar">Contatos: deletar</a><br><br>
    <a href="http://localhost:5000/contatos-cadastrados">Contatos: consultar</a><br>
    <h2>Consulta Consolidada</h2>
    <a href="http://localhost:5000/pessoas-contatos-cadastrados">Consultar Pessoas e Contatos</a><br><br>

</body>
</html>